# Ignore node_modules in any folder (backend, web-app, etc.)
node_modules/

# Ignore environment variable files containing secrets
.env
.env.local
.env.*.local

# Build outputs
build/
dist/
.DS_Store

# Local App development and IDE settings
TattooARApp/
.vscode/